<p style="font-size:12px;line-height:24px;margin-bottom:39px;letter-spacing:0.1">
	<span class="fallback-fader" style="display:block">Seems like you’re using a browser that doesn’t</span>
	<span class="fallback-fader" style="display:block">support our super cool and new audio technology.</span>
	<span class="fallback-fader" style="display:block">Could you try using Chrome or Firefox instead?</span>
	<span class="fallback-fader" style="display:block">You’ll like it. I promise!</span>
</p>
<div class="fallback-fader" style="background-image:url(assets/images/fallback-divider.png);width:80px;height:7px;display:block;margin:0 auto"></div>