<p class="fallback-fader" style="font-size:11px;margin:4px 0">Yes, we know, there’s no mobile website.</p>
<p class="fallback-fader" style="font-size:11px;margin:4px 0">You can do one of the following things:</p>
<ol style="font-size:9px;margin:7px 0 30px;padding:0;display:inline-block;list-style:none">
	<li class="fallback-fader">1. Check out our site on a desktop or tablet. It’s really cool!</li>
	<li class="fallback-fader" style="margin-top:6px">2. Call your parents. I’m sure they worry about you.</li>
</ol>
<div class="fallback-fader" style="background:url(assets/images/fallback-divider@2x.png);width:160px;height:14px;background-size:80px 7px;display:block;margin:0 auto"></div>